@import "bourbon/bourbon";
@import "base/base";
@import "neat";
@import "leaflet";

body {
  background-color: #fbc547;
  padding: 1rem;
  text-align: center;
}

#mapid {
  min-height: 180px;
  height: 700px;
}

#uitleg {
  img {
    max-width: 750px;
    max-width: 100%;
  }
}
